@charset"utf-8";
@import url("font.css");
@import url("jquery-ui.css");
/*default*/
*{margin:0;padding:0;border:0;/*outline:0;*/vertical-align:top;box-sizing:border-box;letter-spacing:-.03em}
*:before, *:after {box-sizing:border-box;}
html{width:100%;height:100%}
body{font-family:'Nanum Barun Gothic',dotum,sans-serif;font-size:14px;font-weight:400;color:#666;line-height:1;background-color:#dee5f3;}
body {position: relative; width:100%; min-height: 100%; padding-bottom:60px;}
a{font-style:inherit;color:inherit;text-decoration:none;border:none}
fieldset,img{border:none}
ul,ol,dl{list-style:none}
em,address{font-style:normal}
button{vertical-align:middle;cursor:pointer;border:none;background:none;border-radius:0;text-align:center}
button::-moz-focus-inner{padding:0;border:none}
body label{cursor:pointer; margin-bottom:0; font-weight:normal;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed}
button,input,textarea,select,option{font-family:'Nanum Barun Gothic',sans-serif;font-size:14px;-moz-appearance:none;-webkit-appearance:none;appearance:none;-webkit-border-radius:0;font-weight:300;color:inherit;}
textarea{resize:none}
img,video{max-width:100%}
button,
input,
select {outline:none;}
/*Option*/
strong,h1,h2,h3,h4,th{font-weight:500}
b{font-weight:700}
*{-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent}
.clearfix:after{content:'';display:block;clear:both}
.blind{overflow:hidden;visibility:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px}
.bold{font-weight:700}
.positionR{position:absolute;top:0;right:0}
.floatR{float:right}

/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
  text-align:left;
  letter-spacing:-0.5px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
  text-align:left;
  letter-spacing:-0.5px;
}
::-moz-placeholder { /* Firefox 18- */
  color: #ccc;
  text-align:left;
  letter-spacing:-0.5px;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(184,184,184,1) !important;
  text-align:left !important;
  letter-spacing:-0.5px;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: rgba(184,184,184,1) !important;
  text-align:left !important;
  letter-spacing:-0.5px;
}
::-ms-input-placeholder { /* IE 10+ */
  color: rgba(184,184,184,1);
  text-align:left !important;
  letter-spacing:-0.5px;
}


/*CrossBrowsing*/
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #f6f8f9 inset !important}