@charset "utf-8";

	.wrap{}
	.innerArea{width: 1240px; margin: 0 auto; padding: 0 44px;}

	header{position: relative; z-index:2; border-bottom: 1px solid #0d56aa; background-color: #fff; font-family:'Nanum Square'; color: #19233b; text-align: center;}
	header .innerArea{position: relative;}
	header .logo{position: absolute; top: 18px; left: 44px;}
	header .logo a{display: block; width: 94px; height: 20px; background: url(../images/icon/logo.png) no-repeat center; text-indent: -9999px;}
	header .utilMenu{position: absolute; top: 15px; right: 40px; font-size: 0;}
	header .utilMenu li{display: inline-block;}
	header .utilMenu li + li{margin-left: 22px;}
	header .utilMenu li button{display: block; width: 30px; height: 30px; background-repeat: no-repeat; background-position: center; text-indent: -9999px;}
	header .utilMenu .mypage{background-image: url(../images/icon/mypage.png);}
	header .utilMenu .system{background-image: url(../images/icon/system.png);}
	header .utilMenu .logout{background-image: url(../images/icon/logout.png);}

	footer {position:absolute; bottom:0; left:0; width:100%;}
	footer{padding: 20px 0; font-family:'Nanum Square';}
	footer .copyright{font-size: 12px; color: #86919d; text-align: center; line-height: 20px;}
	footer .copyright strong{color: #0c79f8}

/* GNB */
	.gnbWrap{display: inline-block;}
	.gnbTop{display: inline-block; text-align: center; font-size: 0;}
	.gnbTop li{display: inline-block;}
	.gnbTop li span{display: block; padding: 20px 18px; font-size: 16px; font-weight: 500; line-height: 20px; transform: rotate(0.05deg);}
	.gnbTop li.active span{position: relative; background-color: #ecf2ff; color: #0c79f8;}
	.gnbTop li.active span:after{display: block; content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background-color: #0c77f8;}
	.gnbAll{position: absolute; top: 60px; left: 0; width: 100%; padding-top: 0; background-color: #fff; border-top: 1px solid #eceff5; box-shadow: 0px 7px 7px rgba(0,37,12,0.07); z-index: 1;}
	.gnbCont{display: flex; width: 1050px; margin: 0 auto; text-align: left;}
	.gnbCont .grid{flex: 1; padding: 8px 0 60px;}
	.gnbCont .grid:nth-child(odd){background-color: #fafbfb}
	.menuWrap > strong{display: block; margin: 0 10px 10px; padding: 12px 8px; font-size: 16px; line-height: 20px; font-weight: 700; color: #0c79f8; border-bottom: 1px solid #e5e9f1; transform: rotate(0.05deg);}
	.menuWrap li a{display: block; padding: 5px 18px; font-size: 15px; line-height: 20px; font-weight: 500; transform: rotate(0.05deg);}
	.menuWrap li a:hover{color: #0c79f8; background-color: #edf3ff;}
	.menuWrap + .menuWrap{margin-top: 18px;}
	.subMenu li a{padding: 5px 20px; font-size: 14px; color: #949cac}

/* 대시보드 페이지 */
	.dashBoard{padding: 32px 10px 10px; font-family:'Nanum Square';}
	.dashBoard section{flex: auto; padding: 0 10px; margin-bottom: 28px;}
	.dashBoard .row{display: flex;}
	.dashBoard .row .grid{flex: auto;}
	.dashBoard .title{position: relative; display: inline-block; padding-left: 20px; font-size: 18px; line-height: 20px; font-weight: 700;}
	.dashBoard .title:before{display: block; content: ''; position: absolute; top: -1px; left: 0; width: 4px; height: 20px; background-color: #0c79f8;}
	.dashBoard .boxWrap{display: flex;}
	.dashBoard .box{flex: 1; margin-top: 26px; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0px 2px 6px rgba(0,63,31,0.08);}
	.dashBoard .box + .box{margin-left: 20px;}
	.dashBoard .state .text{margin-bottom: 16px; padding-left: 2px; font-size: 12px; color: #86919d; font-weight: 700;}
	.dashBoard .state .big{font-size: 18; color: #86919d; font-weight: 700;}
	.dashBoard .state .big b{display: inline-block; margin-right: 5px; font-size: 36px; line-height: 28px; color: #363636; vertical-align: baseline;}
	.dashBoard ul.state{display: flex;}
	.dashBoard ul.state li{flex: auto;}
	.dashBoard ul.state li + li{margin-left: 10px;}

	.topBox{background-color: #0c79f8; padding: 22px 0 160px; margin-bottom: -160px; font-family:'Nanum Square'; color: #fff}
	.topBox .innerArea{position: relative;}
	.topBox h2{margin-bottom: 28px; font-size: 24px; line-height: 1; font-weight:500;}
	.topBox .navigation{position: absolute; top: 8px; right: 44px;}

	.roundBox{padding: 32px 24px 40px; margin: 0 auto; background-color: #fff; border-radius: 8px; box-shadow: 4px 4px 7px rgba(0,0,0,0.06)}

/* 페이지 경로 */
	.navigation{font-size: 0;}
	.navigation a{position: relative; display: inline-block; font-size: 14px; line-height: 16px; font-weight: 500; color: rgba(255,255,255,0.7);}
	.navigation a + a{margin-left: 16px;}
	.navigation a + a:before{position: absolute; top: 0; left: -11px; content: ''; display: block; width: 6px; height: 15px; background: url(../images/icon/arrow_nav.png) no-repeat center; vertical-align: top;}
	.navigation a:first-child{width: 12px; background: url(../images/icon/home.png) no-repeat 0 1px; text-indent: -9999px;}
	.navigation a:last-child{color: #fff;}

/* 검색 조건 설정 */
	.setBox{padding: 16px; margin-bottom: 57px; background-color: #f6f9fd; border-top: 2px solid #0c79f8; border-bottom: 1px solid #e7eaef}
	.setBox .line{display: flex}
	.setBox .line + .line{margin-top: 16px;}
	.setBox .line [class*="Wrap"] + [class*="Wrap"]{margin-left: 16px;}
	.setBox [class*="Wrap"]{min-width: 360px; font-size: 0;}
	.setBox .tit{display: inline-block; padding-right: 16px; font-size: 16px; line-height: 20px; color: #222}
	.setBox .inpD + .inpD{margin-left: 16px;}

	.searchWrap{display: flex; flex: auto}
	.searchWrap .inpTxt{flex: auto; border-radius: 3px 0 0 3px;}
	.searchWrap .selectD + .inpTxt{margin-left: 8px;}
	.searchWrap .btn{width: 32px; height: 32px; text-indent: -9999px;}
	.searchWrap .btn.search{margin: 0 1px 0 -1px}
	.searchWrap .inpTxt + .btnTxt{margin-left: 8px;}

	.dateWrap .tit{line-height: 32px}
	.dateWrap .datePicker{display: inline-block;}
	.dateWrap .dateBox{position: relative; display: inline-block; width: 148px;}
	.dateWrap .dateBox .inpTxt{width: 100%; padding: 0 16px;}
	.dateWrap .dateBox button{position: absolute; top: 0; right: 0; width: 100%; height: 32px; background: url(../images/icon/calendar.png) no-repeat center right 17px; text-indent: -9999px;}
	.dateWrap .dash{display: inline-block; padding: 0 6px; font-family: 'Nanum Square'; font-size: 16px; line-height: 32px;}

/* table */
	.tableWrap + .tableWrap{margin-top: 34px;}

	.tableTop{display: flex; align-items: flex-end; margin-bottom: 16px;}
	.tableTop .totalNum em{font-weight: 500; color: #0c79f8; letter-spacing: 0}
	.tableTop .rightArea{margin-left: auto; font-size: 0;}
	.tableTop .rightArea > * + *{margin-left: 8px;}

	.tableTitle{display: block; padding: 12px 16px 14px; font-size: 16px; font-weight: 500; color: #222}

	table.table{line-height: 1.45; border-top: 1px solid #000; border-bottom: 1px solid #e7eaef; text-align: center;}
	table.table th{background-color: #f6f9fd; transform: rotate(0.05deg);}
	table.table thead th{font-weight: 500}
	table.table tbody td{padding: 7px 8px;}
	table.table .taL{text-align: left;}
	table.table td .link{display: inline-block;}
	table.table td .link:hover{color: #0c79f8}
	table.table td > span{display: inline-block; padding: 6px 0}

	table.text thead th{padding: 13px 0;}
	table.text tbody tr{border-top: 1px solid #e7eaef}
	table.text tr > *:first-child{padding-right: 20px;padding-left: 20px;}
	table.text tr > *:last-child{padding-right: 20px;padding-left: 20px;}

	table.form{width: 1008px; text-align: left; border-bottom: 2px solid #e7eaef}
	table.form tr{border-bottom: 1px solid #e7eaef}
	table.form th{width: 120px; padding: 13px 16px}
	table.form .inpTxt:only-child{width: 100%}
	table.form .inpWrap{display: flex;}
	table.form .inpWrap span{flex: none; display: inline-block; padding: 6px 0; margin-right: 8px; font-size: 14px;}
	table.form .inpWrap .inpTxt{flex: auto; width: 100%; max-width: 158px;}
	table.form .inpWrap .inpTxt + span{margin-left: 16px;}
	table.form .btnSelect{height: 32px; padding: 0 10px; background: #e7eaef; line-height: 30px; border: 1px solid #b7babd; border-radius: 3px;}
	table.form .inpTxt + .btnSelect{flex: none; margin-left: 8px;}
	table.form .inpWrap .selectD + span{margin: 0 6px;}

/* Btn/Icon */
	.btn{background-position: center; background-repeat: no-repeat;}
	.btn.search{background-image: url(../images/icon/search.png); background-color: #0c79f8;}
	.btn.reset{background-image: url(../images/icon/reset.png); background-color: #5b6378;}
	.btnTxt{display: inline-block; height: 32px; padding: 0 16px; background-color: #0c79f8; font-size: 14px; color: #fff; line-height: 32px; border-radius: 3px; transition: all .1s}
	.btnTxt.white{background-color: #fff; color: #666; line-height: 30px; border: 1px solid #c9cdd1}
	.btnTxt.white:hover{color: #0c79f8; border: 1px solid #0c79f8}

	.btnGroup{margin-top: 24px; font-size: 0; text-align: center;}
	.btnGroup > *{display: inline-block; height: 32px; padding: 0 16px; border-radius: 3px; font-size: 14px;}
	.btnGroup > * + *{margin-left: 8px;}
	.btnGroup > *:first-child{background-color: #0c79f8; color: #fff}
	.btnGroup > *:last-child{border: 1px solid #b7babd}

/* INPUT */
	input[type="checkbox"],	input[type="radio"]{border: 0; border-radius: 0; background: 0; opacity: 0; cursor: pointer;}
	input[type="submit"],	input[type="button"]{cursor: pointer;}
	input[type="text"]::-ms-clear{display: none} /*ie에서 클리어버튼제거*/
	.inpTxt{height: 32px; padding: 0 16px; border: 1px solid #dde1e5; border-radius: 3px; background: #fff; text-align: left; transition: border .1s;}
	/*.inpTxt:focus{border-color: #333}*/
	/* 기능추가 */
	.inpTxtWrap{position: relative; display: flex; padding: 0 12px; border: 1px solid #ccc; background: #fff; font-size: 13px;}
	.inpTxtWrap .inpTxt{flex: auto; height: 40px; padding: 0; border: 0 none;}
	.inpTxtWrap .btnTxtDel{flex: none; width: 20px; height: 40px; text-indent: -9999px; background: url(../images/svg/btn_del.svg) no-repeat center; background-size: 17px}
	.inpTxtWrap .byteCount{flex: none; padding: 0 0 0 5px; font-size: 12px; line-height: 40px}
	
	.inpD{display: inline-block; text-align: left}
	.inpD input{position: absolute; top: 1px; left: 1px; width: 18px; height: 18px;}
	.inpD label{position: relative; display: inline-block; font-size: 14px; line-height: 20px;}
	.inpD label:before{display: inline-block; content: ''; width: 20px; height: 20px; margin-right: 8px; background-image: url(../images/icon/icon_input.png); background-repeat: no-repeat; background-position: 0 0; vertical-align: top;}
	.inpD.checked label:before{background-position-y: -20px}
	/* radios */
	.inpD.radio label:before{background-position-x: -20px;}
	/* file */
	.inpFile{position: relative; display: flex;}
	.inpFile .inpTxt{flex: auto; text-overflow: ellipsis;}
	.inpFile .btn{flex: none; padding: 0 12px; margin-left: 5px; background: #000; font-size: 13px; line-height: 42px; color: #fff;}
	.inpFile label{display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	.inpFile input[type="file"]{width: 0; height: 0; opacity: 0}
	/* selectbox */
	.selectD{min-width: 92px; height: 32px; padding: 0 40px 0 16px; border: 1px solid #dde1e5; border-radius: 3px; transition: border .1s; cursor: pointer;}
	.selectD{background-color: #fff; background-image: url(../images/icon/icon_selectbox.png); background-repeat: no-repeat; background-position: right 16px center;}
	/*.selectD:focus{border-color: #333}*/
	.selectD option{font-size: 13px; }
	.selectD::-ms-expand{display: none}

/* DatePicker */
	.ui-datepicker{width: 300px; margin-top: 5px; background-color: #fff; border: 1px solid #eee; text-align: center;}
	.ui-datepicker table{line-height: 1.6}

/* PAGING */
	.paging{margin-top: 32px; font-size: 0; white-space: nowrap; text-align: center;}
	.paging a{display: inline-block; height: 40px; text-align: center; transition: 0.1s;}
	.paging a.num{min-width: 40px; font-size: 14px; line-height: 38px; border: 1px solid #e7eaef;}
	.paging a.num + a.num{margin-left: 5px;}
	.paging a.direction{width: 40px; margin: 0 12px; background-repeat: no-repeat; background-position: center; text-indent: -9999px}
	.paging a.prev{background-image: url(../images/icon/arrow_paging_prev.png);}
	.paging a.next{background-image: url(../images/icon/arrow_paging_next.png);}
	.paging a.active{font-weight: 500; color: #fff; border-color: #0c79f8; background-color: #0c79f8}

/* POPUP */
	body.hidden{overflow-y: hidden;}
	.popup{position: absolute; top: 0; left: 0; z-index: 100;}
	.popup .dimm{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8);}
	.popup .popBox{position: fixed; top: 50%; left: 50%; padding-bottom: 32px; background-color: #fff; transform: translate(-50%, -50%);}
	.popup .popTop{margin-bottom: 24px;}
	.popup .popTop  h3{transform: rotate(0.05deg);}
	.popup .popCont{padding: 0 24px}
	.popup .btnPopClose{position: absolute; top: 0; right: 0; text-indent: -9999px;}
	.popup .inpTxt{padding: 0 10px;}
	.popup .selectD{min-width: 70px; padding-left: 9px;}
	.popup .scrollArea{overflow-y: scroll;}

	.type1 .popTop{padding: 16px 23px 14px; border-top: 8px solid #0c79f8; border-bottom: 1px solid #e7eaef}
	.type1 .popTop h3{font-size: 24px; line-height: 25px; color: #0c79f8}
	.type1 .btnPopClose{top: 7px; width: 70px; height: 56px; background: url(../images/icon/btn_x_black.png) no-repeat center;}


	.type2.popBox{width: 520px; border: 3px solid #0c79f8;}
	.type2 .popTop{padding: 17px 23px; background-color: #0c79f8;}
	.type2 .popTop h3{font-size: 20px; line-height: 22px; color: #fff;}
	.type2 .popCont .tableWrap{height: 284px; overflow-y: auto;}
	.type2 .btnPopClose{top: -2px; right: -3px; width: 70px; height: 56px; background: url(../images/icon/btn_x_white.png) no-repeat center;}
	.type2 .searchWrap{margin-bottom: 16px;}

	.botDetail .popBox{width: 1056px;}
	.botDetail .scrollArea{max-height: 600px}

